@import "../../styles//variables.scss";

.ContactUs {
  padding-top: 100px;
  padding-bottom: 100px;

  i {
    color: $primary-color;
    background-color: $light-primary-color;
    padding: 20px;
    font-size: 35px;
    border-radius: 50%;
  }

  h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: $primary-color;
  }

  p {
    letter-spacing: 1px;
    line-height: 26px;
    word-spacing: 5px;
    font-size: 20px;
    padding-right: 50px;
    font-weight: 300;
  }


  .form {
    box-shadow: $box-shadow;
    border: $border;
    padding: 50px;

    input {
      padding: 25px 10px;
      background-color: rgb(238, 238, 238);
      font-weight: 300;
    }

    textarea {
      background-color: rgb(238, 238, 238);
      font-weight: 300;
    }

    button {
      background-color: $primary-color;
      border: 0;
      padding: 10px 50px;
      &:hover {
        background-color: $primary-color;
        border: 0;
        padding: 10px 50px;
      }
    }

  }


}


@media (max-width: 992px) {
  .ContactUs {
    p {
      padding-bottom: 50px;
      padding-right: 0px;
    }
  }
}