@import "../../styles/variables.scss";

.PaginationBar{
  .page-link {
    margin-right: 3px;
    margin-left: 3px;
    border: 0 ;
    color: #404040;
    font-weight: 500;
    margin-right: 4px;
    margin-left: 4px;
    &:hover {
      background-color: transparent;
    }
  }
  .active {
    font-weight: 700;
    color: $primary-color;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  .disabled{
    color: #929292;
    cursor: unset;
  }

  .prev-next {
    color: #252525;
  }
}