.BottomNav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
}

.BottomNav ul::-webkit-scrollbar {
  display: none;
}

.BottomNav .sub {
  padding: 0px 25px;
}

.BottomNav ul li {
  padding: 0px 9px;
  display: inline-block;
}

.BottomNav span {
  color: gray;
}


@media all and (max-width: 991.98px) {
  .BottomNav .sub {
    padding: 0px 5px;
    font-size: 13px;
  }
  .BottomNav ul li {
    font-size: 12px;
    padding: 0px 5px;
  }
}