@import "../../styles//variables.scss";

.AllProducts {
  padding-top: 20px;
  padding-bottom: 75px;

  .small-nav {
    font-size: 0.9rem;
    margin-bottom: 20px;
    a {
      text-decoration: none;
    }
    i {
      padding-left: 10px;
      padding-right: 10px;
    }
    span {
      color: #707070;
    }
  }

  .current-page {
    font-weight: 700;
  }


  .product {
    
    
    .prdouct-content {
      padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    img {
      width: 100%;
      margin-bottom: 15px;
      height: 200px;
      border-radius: 10px;
    }
    p {
      font-size: 14px;
      color: #404040;
      margin-bottom: 15px;
    }
    h5 {
      color: #404040;
      font-size: 16px;
      font-weight: 700;
    }
    button {
      width: 100%;
      background-color: $primary-color;
      color: white;
      border-radius: 8px;
      font-size: 14px;
    }
      &:hover {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.267);
        transition: ease-in-out 0.2s;
      }
    }
  }

}