@import "../../styles//variables.scss";


.Home {
  padding-top: 50px;
  padding-bottom: 50px;

  .header {
    .carousel {
      margin-bottom: 20px;
      img {
        border-radius: 10px;
      }
      .carousel-indicators{
        .active {
          background-color: $primary-color;
        }
        li {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          opacity: 1;
          border: 1px solid $primary-color;
        }
        
      }
    }

  .presc-med{
    margin-bottom: 32px;
    .presc-med-content {
      cursor: pointer;
      border: 1px solid rgba(112, 112, 112, 0.15);
      padding: 15px;
      border-radius: 8px;
      img {
        width: 35%;
        padding-right: 20px;
      }
      a{
        color: black;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.1rem;
      }

      &:hover {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.267);
        transform: scale(1.1,1.1);
        transition: ease-in-out 0.3s;
      }
    }
  }
  }
    

.new-offers {
  margin-top: 30px;
  h4{
    margin-bottom: 30px;
    font-weight: 700;
  }
  .slick-arrow-icon-left,
  .slick-arrow-icon-right {
    position: absolute;
    display: block;
    cursor: pointer;
    background: transparent;
    color: black;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: black;
      font-size: 25px;
      &::before {
        opacity: 1;
      }
    }
}

.slick-arrow-icon-left {
  left: -50px;
  [dir="rtl"] & {
    left: auto;
    right: -50px;
  }
}

.slick-arrow-icon-right {
  right: -50px;
  [dir="rtl"] & {
    left: -50px;
    right: auto;
  }
}
  .slide {
    cursor: pointer;
    border: 1px solid black;
    cursor: pointer;
    border: 1px solid rgba(112, 112, 112, 0.15);
    border-radius: 8px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  .slick-slide {
    padding: 2px 10px;
  }
}


// sub categories
.sub-categories{
  margin-top: 60px;
  
  h4{
    margin-bottom: 30px;
    font-weight: 700;
  }

  .sub-categ-box {
    margin-right: 30px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: black;
    }
    img {
      width: 150%;
    }
    p {
      padding-top: 10px;
      width: 150%;
      font-size: 0.8rem;
      text-align: center;
    }
    &:hover {
      transform: scale(1.1,1.1);
      transition: ease-in-out 0.3s;
    }
  }

}

// best selling
.best-selling {
  margin-top: 60px;
  h4 {
    font-weight: 700;
    margin-bottom: 50px;
  }
  .show-all {
    background-color: white;
    border-color: $primary-color;
    color: $primary-color;
    i {
      padding-left: 3px;
    }
  }
  
}

// brands
.brands {
  margin-top: 60px;
  h4 {
    margin-bottom: 30px;
    font-weight: 700;
  }
  button {
    background-color: white;
    border-color: $primary-color;
    color: $primary-color;
    i {
      padding-left: 3px;
    }
  }
  .slick-arrow-icon-left,
  .slick-arrow-icon-right {
    position: absolute;
    display: block;
    cursor: pointer;
    background: transparent;
    color: black;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: black;
      font-size: 25px;
      &::before {
        opacity: 1;
      }
    }
}

.slick-arrow-icon-left {
  left: -50px;
  [dir="rtl"] & {
    left: auto;
    right: -50px;
  }
}

.slick-arrow-icon-right {
  right: -50px;
  [dir="rtl"] & {
    left: -50px;
    right: auto;
  }
}
  .slide {
    cursor: pointer;
    cursor: pointer;
    border: 1px solid rgba(112, 112, 112, 0.15);
    border-radius: 8px;
    padding: 5px;
    img {
      width: 100%;
    }
    &:hover{
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.267);
      transition: ease-in-out 0.2s;
    }
  }
  .slick-slide {
    padding: 2px 10px;
  }
}


// latest offers

.latest-offers {
  margin-top: 60px;
  h4 {
    font-weight: 700;
    margin-bottom: 50px;
  }
  .show-all {
    background-color: white;
    border-color: $primary-color;
    color: $primary-color;
    i {
      padding-left: 3px;
    }
  }
  
}


// two features
.two-features {
  margin-top: 60px;
  img {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
}

// download app
.download {
  margin-top: 100px;
  background-color: $primary-color;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
  h4 {
    font-weight: 700;
  }
  p{
    font-weight: 300;
  }
  button{
    background-color: white;
    color: $primary-color;
    border-color: white;
  }
  img {
    width: 100%;
  }
}

}