.PharmacyOwner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.PharmacyOwner i {
  color: #00CD7C;
  background-color: #E5FAF2;
  padding: 20px;
  font-size: 35px;
  border-radius: 50%;
}

.PharmacyOwner h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #00CD7C;
}

.PharmacyOwner p {
  padding-bottom: 25px;
}

.PharmacyOwner .form {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(112, 112, 112, 0.2);
  padding: 50px;
}

.PharmacyOwner form input {
  padding: 25px 10px;
  background-color: rgb(238, 238, 238);
  font-weight: 300;
}

.PharmacyOwner form button, .PharmacyOwner form button:hover {
  background-color: #00CD7C;
  border: 0;
  padding: 10px 50px;
}

@media (max-width: 992px) {
  .PharmacyOwner h3 {
    font-size: 18px;
  }

  .PharmacyOwner p {
    font-size: 13px;
  }
}