@import "../../styles//variables.scss";

.SignIn {
  padding-top: 100px;
  padding-bottom: 100px;
  img {
    width: 100%;
  }
  form {
    border-radius: 5px;
    padding: 50px;
    box-shadow: $box-shadow;
    border: $border;

    .login-error {
      background-color: rgb(255, 173, 173);
      text-align: center;
      padding: 10px 0px;
      margin: 0px 0px 25px 0px;
      color: rgb(134, 0, 0);
      border-radius: 5px;
    }

    a {
      
      color: $primary-color;
      text-decoration: none;
      font-size: small;
    }

    p {
      font-size: small;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 12px;
    }

    i {
      border-radius: 50%;
      color: white;
      padding: 10px;
      width: 40px;
      height: 40px;
      font-size: 20px;
      margin: 0px 5px;
      
    }

    button {
      background-color: $primary-color;
      border-color: $primary-color;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 13px;
      font-weight: 500;
      &:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
        transition: 0.3s ease-in-out;
      }
    }

  }
}