.MidNav {
  padding-top: 25px;
  padding-bottom: 25px;
}

.MidNav .form input{
  all: unset;
  font-weight: 500;
  border: solid 1px rgba(112, 112, 112, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px 0px 0px 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 80%;
}
.MidNav .form button{
  all: unset;
  border: 1px solid #00CD7C;
  background-color: #00CD7C;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 9px;
  cursor: pointer;
  display: inline-block !important;
}

.MidNav .location i {
  color: #00CD7C;
  font-size: 20px;
}

.MidNav .location  span {
  color: gray;
  font-size: 12px;
}

.MidNav .location button{
  all: unset;
  border: 1px solid #00CD7C;
  color: #00CD7C;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.MidNav .location button:hover{
  color: white;
  background-color: #152F5F;
  border-color: #152F5F;
  transition: 0.5s ease-in-out;
}

.MidNav .cart{
  justify-content: center;
}

.MidNav .cart i{
  color: #00CD7C;
  font-size: 30px;
}

.MidNav .cart button {
  all: unset;
  cursor: pointer;
}

/* media query */

@media (min-width: 768px) and (max-width: 991.98px) {
  .MidNav .logo {
    font-size: 12px;
  }

  .MidNav .form input{
    padding-right: 5px;
    padding-left: 5px;
  }

  .MidNav .form {
    display: flex;
    align-items: center;
  }

  .MidNav .form button {
    padding: 5px;
  }

  .MidNav .location span {
    font-size: 10px;
  }

  .MidNav .location {
    font-size: 12px;
  }

  .MidNav .location button {
    display: none;
  }

  .MidNav .location i {
    font-size: 16px;
  }

  .MidNav .cart i{
    font-size: 24px;
  }

}


@media (max-width: 767.98px) {
  
  .MidNav .form input{
    font-size: 13px;
  }

  .MidNav .form button {
    padding: 2px;
  }

  .MidNav .location span {
    font-size: 10px;
  }

  .MidNav .location {
    font-size: 12px;
  }
  .MidNav .location button {
    display: none;
  }

  .MidNav .cart{
    justify-content: flex-end;
    padding-right: 30px;
  }

.MidNav hr {
  width: 100%;
  height: 1px;
}

}