.TermsOfService  {
  margin-bottom: 75px;
  margin-top: 75px;
}

.TermsOfService h2 {
  text-align: center;
  margin-bottom: 75px;
  font-weight: 700;
}

.TermsOfService .content {
  padding: 50px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(112, 112, 112, 0.2);
}

.TermsOfService .box {
  padding-bottom: 50px;
}

.TermsOfService h4 {
  font-weight: 400;
  padding-bottom: 25px;
}

.TermsOfService h3 {
  padding-bottom: 50px;
}

.TermsOfService p {
  font-weight: 300;
}