@import "../../../../styles//variables.scss";

.SecondNav {
  padding-top: 15px;
  .logo {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
    }
    img {
      margin-top: -13px;
      width: 50px;
      height: 50px;
    }
    span {
      font-weight: 900;
      font-size: 27px;
      padding-left: 10px;
      letter-spacing: 3px;
      color: $primary-color;
    }
  }

  .phone {
    text-align: right;
    img {
      width: 60%;
      &:hover{
        transform: scale(1.1,1.1);
        transition: ease-in-out 0.3s;
      }
    }
  }

  .form {
    input {
      font-weight: 500;
      padding-left: 20px;
      color: #000000;
      
    }
    ::placeholder{
      color: #8a8a8a;
      font-weight: 400;
    }
    button {
      background-color: $primary-color;
      color: white;
      border-color: $primary-color;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown-menu {
    left: -50px !important;
  }

  .dropdown-toggle {
    background-color: $primary-color;
    border: $primary-color;
    font-weight: 500;
    &:focus {
      background-color: $secondary-color;
    }
    i {
      padding-right: 8px;
    }
  }

  .dropdown-menu {
    border-radius: 8px;
    a {
      margin-bottom: 10px;
      font-weight: 500;
      &:focus {
        background-color: $primary-color;
      }
    }
    .login {
      text-align: center;
      background-color: $primary-color;
      width: 75%;
      color: white;
      border-radius: 5px;
      margin-left: 12.5%;
    }
    .create {
      color: $primary-color;
      font-weight: 500;
      &:focus{
        color: white;
      }
    }
  }

  .cart {
    color: $primary-color;
    font-size: 17px;
    a {
      display: contents;
    }
    img {
      width: 24%;
    }
    .heart {
      margin-right: 20px;
    }
    span {
      background-color: #E2254C;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      color: white;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 9999;
    }
    .saved-total {
      right: 84%;
      top: -8%;
    }
    .cart-total {
      right: 47%;
      top: -8%;
    }
    i {
      font-size: 24px;
    }
  }

}